.SmallFont {
    font-size: 0.8rem
}

.Subtitle {
    font-size: 4vw;
    font-weight: 400;
    /* color: #0E6DFD; */
    background: linear-gradient(to right, #68dd7e, #0E6DFD);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.FormBox {
    height: 200px;
}


.FormBoxBtn {
    display: flex;
    height: 40px;
    margin-top: 0.5rem;
    justify-content: end;
}

.FormBoxBtn, .FormBox
{
    width: 70vw;
}

.Btn {
    width: 200px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.Center {
    display: flex;
    align-items: center;
    justify-content: center;
}